.greetingContainer {
  background-image: url("/background.jpg");
  background-size: 100% 130%;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  z-index: -1;

  top: 0;
}

.aboutMe {
  padding-bottom: 100px;
}

.aboutMe h1 {
  color: rgb(255, 251, 251, 0.85);
}

.programmer {
  padding-top: 10vh;
}
.aboutPaper {
  color: rgb(255, 251, 251, 0.85);
  padding: 2vw;
  margin: 2vw;
  font-size: 1.2rem;
}

.highlight {
  font-weight: bold;
  color: #a964fc;
  background-color: rgba(8, 8, 8, 0.2);
  padding: 2px 4px;
  border-radius: 4px;
}
.aboutMeTitle {
  position: relative;
}

.greeting h1 {
  color: rgb(255, 251, 251, 0.85);
}

.greeting h2 {
  color: rgb(223, 216, 216);
}

.greeting {
  padding-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.profile {
  width: 50px;
}
.titleAbout {
  margin: 1;
}

.photoCircle {
  height: 70vh;
  margin-top: 15vh;
  backdrop-filter: blur(5px); /* Adjust blur intensity */
  border-radius: 1000px;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  /* Stack elements vertically */
  .about {
    flex-direction: column;
    padding: 10px;
  }

  .greeting {
    font-size: small;
  }

  /* Adjust font sizes for readability on smaller screens */
  .greeting h1 {
    color: white;
    font-size: 1.5rem;
  }

  .greeting h2 {
    color: white;

    font-size: 1.2rem;
  }

  .programmer {
    width: 50%;
    margin-left: 10vw;
  }

  .photoCircle {
    height: 100vh;
    margin-top: 15vh;
    backdrop-filter: blur(5px); /* Adjust blur intensity */
    border-radius: 1000px;
  }
  .aboutPaper {
    padding: 5vw;
    margin: 5vw;
    font-size: 1.2rem;
  }
}
