.svg_icons {
  transform: scale(1.7);
  padding-right: 2px;
}

.toolbar {
  margin: auto;
  background: "black";
  backdrop-filter: "blur(10px)";
  transition: "background 0.3s ease, backdrop-filter 0.3s ease";
}

.drawer {
  background-color: rgb(63, 22, 78);

  color: white;
  height: 100vh;
}
@media (max-width: 600px) {
  .toolbar {
    margin-left: 5vw;
  }
}
